NETWORK_PROXY_DATABASE_URL=sqlite:///data/network_proxy.db
NETWORK_PROXY_PORT=9001
NETWORK_PROXY_LOG_LEVEL=info
NETWORK_PROXY_MANAGER_PUBLIC_URL=http://host.docker.internal:9001
NETWORK_PROXY_MANAGER_RELAY_PUBLIC_HOST=
NETWORK_PROXY_MANAGER_RELAY_PUBLIC_PORT=31001
NETWORK_PROXY_SUBCONVERTER_URL=http://subconverter:25500
NETWORK_PROXY_HEALTH_CHECK_ENABLED=true
NETWORK_PROXY_HEALTH_CHECK_INTERVAL_SECONDS=60
NETWORK_PROXY_HEALTH_CHECK_TIMEOUT_SECONDS=2.0
NETWORK_PROXY_HEALTH_CHECK_PORT_STEP=1
NETWORK_PROXY_MANAGER_RELAY_POLL_SECONDS=2
NETWORK_PROXY_NODE_STALE_AFTER_SECONDS=120
SUBCONVERTER_PORT=25500
BOOTSTRAP_ADMIN_NAME=primary-admin
BOOTSTRAP_ADMIN_TOKEN=admin-db
BOOTSTRAP_SUBSCRIPTION_NAME=default-subscription
BOOTSTRAP_SUBSCRIPTION_TOKEN=sub-db